.input-grid {
	display: grid;
	grid-template-columns: 15% auto;
	grid-gap: 15px;
}

.input-grid-caption {
	grid-column: span 2;
	padding: 5px;
	margin: 0 15px;
	border-bottom: 1px solid #4d4d4d;
	color: #4d4d4d
}

.input-grid>label {
	padding: 3px 0;
	text-align: right;
}

.input-grid-field>label.disabled {
	color: #bdc3c7
}

.input-grid-field>p {
	margin: 3px 0;
}

.input-text {
	border: 1px solid #7f8c8d;
	padding: 3px;
	border-radius: 5px;
}

.input-readonly {
	border: 1px solid #eff0f1;
	color: #7f8c8d;
	padding: 3px;
	border-radius: 5px;
	width: auto;
}

.input-text.pending, .input-checkbox.pending>span {
	outline: 1px solid #f47750;
}

.input-text.long, .input-readonly.long {
	width: 90%;
}

.input-text.fullwidth, .input-readonly.fullwidth {
	width: 100%;
}

.input-text[type=number] {
	text-align: right;
	width: 4em;
}

.input-checkbox {
	display: block;
}

.input-checkbox > label {
	cursor: pointer;
}

.form-row {
	display: flex;
	margin-top: 1em;
	max-width: 50vw;
}

.form-row > .form-field {
	margin-left: 1em;
	flex-grow: 1;
}

.form-radio-label {
	display: block;
}

.chat {
	background-color: #eff0f1;
	border: 1px solid #7f8c8d;
	height: 20em;
	margin-bottom: 0.5em;
	overflow-y: scroll;
	padding: 0.5em;
}

.chat-message {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	white-space: pre-wrap;
}

.chat-message-admin {
	font-style: italic;
}

.chat-message-admin > .chat-message-sender {
	text-decoration: underline;
}

.chat-message-user > .chat-message-sender {
	font-weight: bold;
}

.chat-grid {
	display: grid;
	grid-template-columns: auto minmax(4em, 10%);
	grid-gap: 0.5em;
}

.chat-grid > button.small {
	margin: 0;
	height: 100%;
}
